/* All */
body {
    font-family:sans-serif;
}

/* side navigation bar */
.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e2e2e2;
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.sidenav li {
    padding: 8px 0; 
    margin: 0px 10px;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px; 
    margin-left: 25px; 
    color:rgb(91, 91, 91);
}
  
.sidenav span {
    font-size: 15px; 
}

.sidenav li:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 0px 10px;
}

.sidenav_item {
    display: flex; 
    align-items: center;
}

.sidenav_tags {
    font-size: 15px; 
    margin-left:10px; 
    color:rgb(53, 53, 53);
}

/* home page and delete page */
.title {
    background-color: rgb(116, 115, 115); 
    margin-left: 180px;
    position: absolute; 
    left: 0px;
    right: 0px;
    top: 0px;
    overflow-x: hidden;
    text-align: center;
}

.notes {
    display: flex; 
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 100px;
}

.new_note, .current_notes {
    width: 250px;
    height: 200px;
    background-color: #efefef;
    margin: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.note_text {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; 
    max-height: 4.5em;
}

.note_details {
    position: absolute; 
    bottom: 0; 
    width: 100%;
}

.tags-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    padding-top: 5px;
    max-width: 100%; 
    box-sizing: border-box; 
}

.tag {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.add {
    font-size: 150px; 
    text-align: center; 
    margin-top: -50px;
}

/* pop up */
.popup_element:hover {
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.10);
    display: none;
}

.popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
    width: 40%;
    max-height: 440px;
    overflow: auto;
    white-space: normal; 
    word-wrap: break-word; 
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 10px; 
    background-color: white; 
}


.popup-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(72, 72, 72);
    color: #fff;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.popup.job_active .popup-overlay {
    display: block;
}

.popup.job_active .popup-content {
    transform: translate(-50%, -50%) scale(1);
} 

.popup-job-name-box {
    padding: 5px; 
    border-radius: 20px; 
    background-color: #ececec; 
}

.popup-job-name-box p{
    text-align: center;
}

.popup-info {
    margin: 0px 20px;
    border-radius: 20px; 
}

.popup-info ul {
    margin: 0px 20px; 
    padding: 0;
}

.popup-requirements {
    margin: 0px;
}

.blue-note {
    background-color:#c0dcfb;
}

.red-note {
    background-color: #fabbbb;
}

.yellow-note {
    background-color: #fffdc0;
}

.green-note {
    background-color:#d2ffdb;
}

.purple-note {
    background-color: #ead8ff;
}

.orange-note {
    background-color: #ffdbbd;
}

.grey-note {
    background-color: #dcdcdc;
}

.tag_hint {
    display:none; 
    position: absolute;
    color: gray;
    top: 450px;
    font-size: 10px;
}