<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Note</title>
</head>

<!-- Navigation bar -->
<body>
    <div class="sidenav">
        <ul>
            <li>
                <div class="sidenav_item">
                    <span>🏠</span>
                    <a href="{{ url_for('home') }}" >Home</a>
                </div>
            </li>

            <hr>
            <p class="sidenav_tags">Tags:</p>
            <!-- Able to click on tag to show only notes with that tag -->
            {% for tag in tags %}
            <li>
                <div class="sidenav_item">
                    <span>🏷</span>
                    <a href="{{ url_for('filter_by_tag', tag_name=tag.name) }}" >{{ tag.name }}</a>
                </div>
            </li>
            {% endfor %}
            <hr>

            <li>
                <div class="sidenav_item">
                    <span>🗑</span>
                    <a href="{{ url_for('delete_page') }}">Trash</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="title">
        <h1>Notes</h1>
    </div>

    <!-- Displays current notes -->
    <div class="notes">
        {% for notes in note %}
        <div>
            <!-- When note is clicked, a popup will appear -->
            <element class='popup_element' onclick="togglePopup('{{ notes.note_id }}')">
                <div class="current_notes {{ notes.note_color }}-note" style="position: relative;">
                    <h2>{{ notes.note_name }}</h2>
                    <p class="note_text">{{ notes.note_text }}</p>
                    <div class="note_details">
                        <p>{{ notes.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                        <div class="tags-container">
                            {% for tag in notes.tags %}
                                <div class="tag">#{{ tag.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </element>

            <!-- Popup showing more information about the note -->
            <div class="popup" id="popup-{{ notes.note_id }}">
                <div class="popup-overlay"></div>
                <div class="popup-content {{ notes.note_color }}-note">
                    <button class="popup-close-btn" onclick="togglePopup('{{ notes.note_id }}')">&times;</button>
                    <div class="popup-info" >
                        <form action="" method="POST">
                            <h2>{{ notes.note_name }}</h2>
                            <p>{{ notes.note_text }}</p>
                        </form>
                        <p>{{ notes.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                        <div class="tags-container">
                            {% for tag in notes.tags %}
                                <div class="tag">#{{ tag.name }}</div>
                            {% endfor %}
                        </div>
                        <form method="post" action="{{ url_for('move_to_delete', note_id=notes.note_id) }}" onclick="return confirm('Are you sure you want to delete this Note?');">
                            <input type="submit" value="Delete Note" class="admin-button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Ability to add new note -->
        {% if not tag_name %}
        <div class="new_note">
            <h1>Add Note</h1>
            <element class='popup_element' onclick="togglePopup('new')">
            <div class="job-box">
                <h1 class="add">&#43</h1>
            </div>
            </element>

            <!-- Popup showing all required information for new note to be made -->
            <div class="popup" id="popup-new">
                <div class="popup-overlay"></div>
                <div class="popup-content">
                    <button class="popup-close-btn" onclick="togglePopup('new')">&times;</button>
                    
                    <div class="popup-info">
                        <form action="" method="POST">
                            {{ form.csrf_token }}
                            <p>
                                <br>
                                {{ form.note_name.label }}: <br> {{ form.note_name(style="width: 100%;") }}
                                <br>
                                <br>
                                {{ form.note_text.label }}: <br>{{ form.note_text(class="note_text_input", style="width: 100%; height: 200px;" ) }}
                                <br>
                                <br>
                                <label for="note_color">Select Note Color:</label>
                                <br>
                                {{ form.note_color() }}
                                <br>
                                <br>
                                <label for="tags">Tags:</label>
                                <br>
                                <!-- Shows hint to users about how to add multiple tags -->
                                {{ form.tags(id="tags-input", class="tags_input", onfocus="showHint()", onblur="hideHint()") }}<div id="tags-hint" class="tag_hint">Separate each Tag with a comma e.g Lunch, Dinner</div>
                                <br>
                                {{ form.submit() }}
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
