{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="eng">
    {% block head %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
        <script defer src="{{ url_for('static', filename='index.js') }}"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>MySleep</title>
    </head>
    {% endblock %}
    
    {% block content %}
    <body>
        <nav id="nav">
            <ul>
                <li><a class="navbar-brand" href="{{ url_for('Home') }}"><img id="logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo"></a></li>
                <div class="nav-container">
                    <li class="nav-list"><a href="{{ url_for('Home') }}">Home</a></li>
                    <li class="nav-list"><a href="{{ url_for('All') }}">Shop</a></li>
                    <li class="nav-list"><a href="{{ url_for('cart') }}">Basket</a></li>
                    <li class="nav-list"><a href="{{ url_for('logout') }}">Logout</a></li>
                </div>
            </ul>
        </nav>

        <div class="nav-behind"></div>

        <div class="all">
            <div class="all-box">
                <div class="all-container">
                    <div class="all-form">
                        <div class="all-form-container">
                            {{ wtf.quick_form(form) }}
                        </div>
                        <form method="POST" action="{{ url_for('All') }}" class="all-form-container">
                            {{ wtf.quick_form(category_form) }}
                        </form>
                    </div>
                </div>
                {% if category == Also or category_form.category.data == extra or selected_category == blanket or selected_category == set%}
                <div class="all-ad-more">
                    <img src="{{ url_for('static', filename= 'images/advert1.png') }}" >
                </div>

                <div class="all-ad-more">
                    <img src="{{ url_for('static', filename= 'images/advert2.png') }}">
                </div>
                {% else %}
                <div class="all-ad">
                    <img src="{{ url_for('static', filename= 'images/advert1.png') }}">
                </div>

                <div class="all-ad">
                    <img src="{{ url_for('static', filename= 'images/advert2.png') }}">
                </div>
                {% endif %}
            </div>

            <div class="all-products">
                {% for item in products %}
                <a href="{{ url_for('Product', item_id=item.id) }}" class="all-products-link">
                    <div class="all-products-container">
                        <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.name }} Image">
                        <hr>
                        <p>{{ item.name }}</p>
                        <p>Envrionmental <br>impact: {{ item.env_impact }}</p>
                        <p>Price: £{{ item.price }}</p>
                        <td>
                            <form action="{{ url_for('add_to_basket', item_id=item.id) }}" method="POST">
                                {{ form.hidden_tag() }}
                                <button type="submit" class="btn btn-outline btn-success">Add to basket</button>
                            </form>
                        </td>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>  
    </body>

    <footer class="footer">
        <p> All images on this site are the property of their respective owners. These images have been used for coursework purposes only and are not intended for commercial use or to infringe on any copyrights.</p>
    </footer>
    {% endblock %}
</html>