{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="eng">
{% block head %}
<link rel="stylesheet" type="text/css" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
<title>MySleep</title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="{{ url_for('Home') }}"><img id="logo" src="static/images/Logo.png" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('Home') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Basket</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1 style="margin-top:70px;">Checkout</h1>
<h3>Enter your card details</h3>
{% if not error == '' %}
<h2>
    {{ error }}
</h2>
{% endif %}
<div class="checkout-basket" style="background-color: #DFAFA4;">
{{ wtf.quick_form(form) }} 
</div>
<div class="basket" style="background-color: #DFAFA4">
    <h1>Basket</h1>
    <hr>
    <table style="width:350px; margin-left: 10px;">
        {% for item in range(len(basket)) %}
        <tr>
            <td >{{basket[item]['name']}}</td>
            <td style="text-align: right;">£{{basket[item]['price']}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h1>Total Price: £{{ total }}</h1>
</div>
{% endblock %}
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>