{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="eng">
    {% block head %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <script defer src="{{ url_for('static', filename='index.js') }}"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>MySleep</title>
    </head>
    {% endblock %}

    {% block content %}
    <body>
        <nav id="nav">
            <ul>
                <li><a class="navbar-brand" href="{{ url_for('Home') }}"><img id="logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo"></a></li>
                <div class="nav-container">
                    <li class="nav-list"><a href="{{ url_for('Home') }}">Home</a></li>
                    <li class="nav-list"><a href="{{ url_for('All') }}">Shop</a></li>
                    <li class="nav-list"><a href="{{ url_for('cart') }}">Basket</a></li>
                </div>
            </ul>
        </nav>

        <div class="nav-behind"></div>

        <div class="single">
            <div class="single-product">
                <hr>
                <h1>{{ Product.name }}  </h1>
                <hr>
            </div>
            
            <div class="single-image">
                <img src="{{ url_for('static', filename=Product.image) }}" alt="{{ Product.name }} Image">
            </div>
            
            <div class="single-desc">
                <hr>
                <h3>Price</h3>
                <h2>£{{Product.price}}</h2>
                <hr>
                <h3>Environmental Impact</h3>
                <h2>£{{Product.env_impact}}</h2>
                <hr>
                <p>{{Product.description}}</p>
                <hr>
                <div class="single-form">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>      
    </body>
    {% endblock %}
</html>